@import "src/styles/css/variables/variables";

$List: ".mla-list";
#{$List} {
	position: relative;
	display: flex;
	justify-content: space-between;

	//&--horizontal {
	//    flex-direction: row;
	//
	//}

	&--vertical {
		flex-direction: column;
	}

}
