.pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1rem;
}

.pagination button {
	width: 40px;
	height: 40px;
	font-family: inherit;
	font-weight: 600;
	font-size: 16px;
	margin: 0 5px;
	border-radius: 2px;
	cursor: pointer;
	//transition: all 0.3s ease;
	background: transparent;
	color: #064af5;
	border-color: #064af5;
}

.pagination button.active {
	font-weight: 900;
	border-color: #064af5;
	background: #064af5;
	color: #ffffff;
}
